body {
  color: $base-font-color;
  font-family: $base-font-family;
  //font-feature-settings: "kern", "liga", "pnum";
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: $base-font-weight;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: $small-spacing 0 $small-spacing 0;
  font-weight: $bold-font-weight; // AC just added 9/24, was 700
}

h1 { font-size: rem($h1-size); }
h2 { font-size: rem($h2-size); }
h3 { font-size: rem($h3-size); }
h4 { font-size: rem($h4-size); }
h5, h6 { font-size: rem($h5-size); }

p {
  // margin: 0 0 $small-spacing;
  margin: 0 0 $paragraph-spacing; 

  &.lead {
    // font-size: rem(17);
    font-weight: $base-font-weight;
  }
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

blockquote {
  padding: $base-spacing 0 $base-spacing $base-spacing;
  margin: $base-spacing 0;
  color: $dark-gray-color;
  line-height: 1.8;
  border-left: $small-spacing solid $light-gray-color;
  background-color: lighten($light-gray-color, 15%);
  p {
    margin: 0;
  }
}

code {
  background: none;
  border-radius: 0;
  border: none;
  font-family: "SFMono-Regular",Menlo,Consolas,"Inconsolata",monospace;
  font-size: 1em;
  margin: 0;
  padding: 0 5px;
  background-color: lighten($light-gray-color, 13%);
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: "SFMono-Regular",Menlo,Consolas,"Inconsolata",monospace;
  font-size: 1em;
  margin: 0;
  padding: 5px 10px !important;
  overflow: auto;
  max-height: 60em;
  white-space: pre;
  border: 1px solid $light-gray-color;

  code {
    line-height: 1.75em;
    padding: 0 !important;
  }
}

em {
  font-style: italic;
}

ul,
ol,
dl {
    margin-top: 0;
    margin-left: 1.2em;
    margin-bottom: 1rem;
    list-style-type: square;
    list-style-position: outside;
    list-style-image: none;
}


strong, b { font-weight: $bold-font-weight; }

h1, h2, h3, h4 {
  text-decoration: underline;
  text-decoration-color: rgba($highlight, .8);
  text-decoration-thickness: .45em;   // height of the band
  text-underline-offset: -.3em;       // negative = pulled up behind the text
  text-decoration-skip-ink: none;     // don't break around g, p, y
}

.logo { text-decoration: none; }