<section class="intro">
  <div class="container">
    <h4 class="lead">Hello!</h4>
    <p class="lead">
      I'm Annie (she/her), a first year PhD student at Northwestern University in the <a href="https://tsb.northwestern.edu/">Technology & Social Behavior</a> program, a dual PhD
      program in Computer Science and Communications.
      <br>
      <br>
      I'm currently at the <a href="https://interactiveaudiolab.github.io/">Interactive Audio Lab</a>, advised by Dr. Bryan Pardo. My research interests lie at the intersection of audio, machine learning, human-computer interaction, accessible & inclusive interfaces, and multimodal systems.
      <br>
      <br>
      Previously, I completed my B.S. in Electrical & Computer Engineering with a concentration in Media Arts at Olin College in Boston, MA. In my free time, you can find me walking around record shops, watching stand up comedy, or playing bananagrams. I am also on the hunt for the best bagel in Chicago. 
      <br>
      <br>
      You can reach me at anniechu [at] u.northwestern.edu
    </p>
    <!-- <h6 class="lead">
      Little Fun Facts
    </h6>
    <ul>
      <li> born and raised in Queens, NYC </li>
      <li> favorite genre is jazz rap </li>
      <li> BIG fan of oranges </li>
    </ul> -->
    
  </div>
</section>